<html>
	<head></head>
	<body>
		<p>
			<%= message %></br>
			<form>
				<input type='text' name='guess' />
				<input type='submit' value='Guess!' />
			</form>
			<%= winner_message %>

		</p>
	</body>
</html>